@{
    ViewBag.PageTitle = "Order Mangement";
    ViewBag.CardTitle = "View Order";
    Layout = "~/Views/Shared/_Dashbourd.cshtml";

}
<h1>Order List</h1>

<table id="mytable" class="table table-hover">
    <thead class="text-body">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Actions</td>
            <td>Total Price</td>
        </tr>
    </thead>

</table>
@section Scripts {
    <script src="~/js/Order.js"></script>
}